/* line 5, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.gem/ruby/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 28, ../src/sass/includes/_definitions.scss */
#keyword-list.skip-transitions .list-group, #keyword-list.skip-transitions .list-item, #bundle-list.skip-transitions .list-item, .carousel.skip-transitions .carousel-item, body.app-initial #container *, body.skip-transitions * {
  -webkit-transition: none !important;
          transition: none !important;
}

/* Smartphones (portrait and landscape)  */
/* Smartphones (landscape)  */
/* Smartphones (portrait)  */
/* iPads (portrait and landscape)  */
/* iPads (landscape)  */
/* iPads (portrait)  */
/* Desktops and laptops  */
/* Desktops and laptops  */
/* Large screens  */
/* iPhone 4  */
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.eot?1413222724');
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.eot?&1413222724#iefix') format("embedded-opentype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.woff2?1413222724') format("woff2"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.woff?1413222724') format("woff"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.ttf?1413222724') format("truetype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Book-webfont.svg?1413222724#franklin_gothic_fsbook') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.eot?1413222758');
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.eot?&1413222758#iefix') format("embedded-opentype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.woff2?1413222758') format("woff2"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.woff?1413222758') format("woff"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.ttf?1413222758') format("truetype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-BookIt-webfont.svg?1413222758#franklin_gothic_fsbook_italic') format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.eot?1413222836');
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.eot?&1413222836#iefix') format("embedded-opentype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.woff2?1413222836') format("woff2"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.woff?1413222836') format("woff"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.ttf?1413222836') format("truetype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-Demi-webfont.svg?1413222836#franklin_gothic_fsdemi') format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.eot?1413222840');
  src: url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.eot?&1413222840#iefix') format("embedded-opentype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.woff2?1413222840') format("woff2"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.woff?1413222840') format("woff"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.ttf?1413222840') format("truetype"), url('/workspace/assets/fonts/franklin-gothic-fs/FranklinGothic-DemiIt-webfont.svg?1413222840#franklin_gothic_fsdemi_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}
/* line 128, ../src/sass/includes/_base.scss */
html {
  font: 12px/1 "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
}

/* line 132, ../src/sass/includes/_base.scss */
body {
  color: #282724;
  background-color: #ecebea;
  line-height: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
}

/* line 139, ../src/sass/includes/_base.scss */
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

/* line 143, ../src/sass/includes/_base.scss */
h1 {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 2rem;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 147, ../src/sass/includes/_base.scss */
h2 {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 28px;
  font-weight: 300;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 30px;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 151, ../src/sass/includes/_base.scss */
h3 {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 24px;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 155, ../src/sass/includes/_base.scss */
em {
  font-style: italic;
}

/* line 159, ../src/sass/includes/_base.scss */
strong {
  font-weight: bold;
}

/* line 163, ../src/sass/includes/_base.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 166, ../src/sass/includes/_base.scss */
a:focus {
  outline: 0 none;
}

/* line 171, ../src/sass/includes/_base.scss */
*::-moz-selection {
  color: #009dff;
  background-color: #ccebff;
}
*::selection {
  color: #009dff;
  background-color: #ccebff;
}

/* line 182, ../src/sass/includes/_base.scss */
.sc {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 1px;
  vertical-align: baseline;
  text-transform: uppercase;
}

/* line 187, ../src/sass/includes/_base.scss */
div {
  -webkit-tap-highlight-color: transparent;
}

/* line 190, ../src/sass/includes/_base.scss */
a {
  -webkit-tap-highlight-color: initial;
}

/*
 * Fontello Icons
 */
@font-face {
  font-family: "fontello";
  src: url('/workspace/assets/fonts/fontello-f5b0052f/font/fontello.eot?1420229428');
  src: url('/workspace/assets/fonts/fontello-f5b0052f/font/fontello.eot?1420229428#iefix') format("embedded-opentype"), url('/workspace/assets/fonts/fontello-f5b0052f/font/fontello.woff?1420229428') format("woff"), url('/workspace/assets/fonts/fontello-f5b0052f/font/fontello.ttf?1420229428') format("truetype"), url('/workspace/assets/fonts/fontello-f5b0052f/font/fontello.svg?1420229428#fontello') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ---------------------- *
 * Dynamic color classes
 * ---------------------- */
/* line 6, ../src/sass/includes/_mutable.scss */
.mutable-faded {
  color: #929087;
  border-color: #c2c1bc;
}

/* line 12, ../src/sass/includes/_mutable.scss */
body, body .mutable-faded {
  -webkit-transition-property: color, background-color;
          transition-property: color, background-color;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.2625s;
          transition-duration: 0.2625s;
  -webkit-transition-delay: 0.766s;
          transition-delay: 0.766s;
}

/* line 6, ../src/sass/components/_filterable.scss */
.list.filterable {
  position: relative;
}
/* line 8, ../src/sass/components/_filterable.scss */
.list.filterable .list-item {
  display: block;
}

/* line 25, ../src/sass/components/_filterable.scss */
#bundle-list .list-item {
  max-height: 1.5em;
  visibility: visible;
  opacity: 1;
}
/* line 31, ../src/sass/components/_filterable.scss */
#bundle-list.collapsed .list-item {
  max-height: 0;
}
/* line 34, ../src/sass/components/_filterable.scss */
#bundle-list.collapsed .list-item:not(.selected) {
  visibility: hidden;
  opacity: 0;
}

/* line 47, ../src/sass/components/_filterable.scss */
#bundle-list .list-item {
  -webkit-transition-property: visibility, opacity, -webkit-transform;
          transition-property: visibility, opacity, transform;
  -webkit-transition-timing-function: step-start, ease, ease;
          transition-timing-function: step-start, ease, ease;
  -webkit-transition-duration: 1.116s, 0.35s, 0.35s;
          transition-duration: 1.116s, 0.35s, 0.35s;
  -webkit-transition-delay: 0s, 0.766s, 0.383s;
          transition-delay: 0s, 0.766s, 0.383s;
}
/* line 55, ../src/sass/components/_filterable.scss */
#bundle-list.collapsed .list-item:not(.selected) {
  -webkit-transition-timing-function: step-end, ease, ease;
          transition-timing-function: step-end, ease, ease;
  -webkit-transition-delay: 0s, 0s, 0.383s;
          transition-delay: 0s, 0s, 0.383s;
}

/* line 77, ../src/sass/components/_filterable.scss */
.list.grouped .list-group {
  display: block;
}

/* line 83, ../src/sass/components/_filterable.scss */
#keyword-list .list-item, #keyword-list .list-group {
  visibility: visible;
  opacity: 1;
}
/* line 87, ../src/sass/components/_filterable.scss */
#keyword-list .list-item {
  max-height: 1.5em;
}
/* line 90, ../src/sass/components/_filterable.scss */
#keyword-list .list-group {
  height: 2em;
}
/* line 94, ../src/sass/components/_filterable.scss */
#keyword-list.collapsed .list-item.excluded, #keyword-list.collapsed .list-group.excluded {
  visibility: hidden;
  opacity: 0;
}
/* line 98, ../src/sass/components/_filterable.scss */
#keyword-list.collapsed .list-item.excluded {
  max-height: 0;
}
/* line 101, ../src/sass/components/_filterable.scss */
#keyword-list.collapsed .list-group.excluded {
  height: 0;
}

/* line 108, ../src/sass/components/_filterable.scss */
#keyword-list .list-group, #keyword-list .list-item {
  -webkit-transition-property: visibility, opacity, -webkit-transform;
          transition-property: visibility, opacity, transform;
  -webkit-transition-timing-function: step-start, ease, ease;
          transition-timing-function: step-start, ease, ease;
  -webkit-transition-duration: 1.116s, 0.35s, 0.35s;
          transition-duration: 1.116s, 0.35s, 0.35s;
  -webkit-transition-delay: 0s, 0.766s, 0.383s;
          transition-delay: 0s, 0.766s, 0.383s;
}
/* line 116, ../src/sass/components/_filterable.scss */
#keyword-list.collapsed .list-group.excluded, #keyword-list.collapsed .list-item.excluded {
  -webkit-transition-timing-function: step-end, ease, ease;
          transition-timing-function: step-end, ease, ease;
  -webkit-transition-delay: 0s, 0s, 0.383s;
          transition-delay: 0s, 0s, 0.383s;
}

/* line 1, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item,
.dots-fontello .list-item {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-size: 0.85rem;
  line-height: 1.5rem;
  padding: 0 0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
/* line 10, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item:first-child,
.dots-fontello .list-item:first-child {
  margin-left: -0.5em;
}
/* line 11, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item:last-child,
.dots-fontello .list-item:last-child {
  margin-right: 1em;
}
/* line 12, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item:first-child:last-child,
.dots-fontello .list-item:first-child:last-child {
  visibility: hidden;
  width: 0;
  margin: 0;
  padding: 0;
}
/* line 16, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item a:before,
.dots-fontello .list-item a:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  width: 1em;
  display: inline-block;
  text-align: center;
}
/* line 22, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item .label,
.dots-fontello .list-item .label {
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  left: 100%;
  -webkit-transform: translate3d(0, 0, 0.1px);
  -webkit-transition: visibility 0.35s, opacity 0.35s;
          transition: visibility 0.35s, opacity 0.35s;
  visibility: hidden;
  opacity: 0;
}
/* line 37, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item:not(.selected):hover .label,
.dots-fontello .list-item:not(.selected):hover .label {
  visibility: visible;
  opacity: 1;
}
/* line 48, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item a:before,
.dots-fontello .list-item a:before {
  content: '\e80c';
}
/* line 51, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item:hover a:before,
.dots-fontello .list-item:hover a:before {
  content: '\e801';
}
/* line 53, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item.selected a:before,
.dots-fontello .list-item.selected a:before {
  content: '\e80b';
}
/* line 56, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item.null-item a:before,
.dots-fontello .list-item.null-item a:before {
  content: '\e80d';
}
/* line 57, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item.null-item.selected a:before,
.dots-fontello .list-item.null-item.selected a:before {
  content: '\e80d';
}
/* line 63, ../src/sass/components/_selectable.dots-fontello.scss */
.dots-fontello.list-item.selected, .dots-fontello.list-item.selected a,
.dots-fontello .list-item.selected,
.dots-fontello .list-item.selected a {
  cursor: default;
}

/* line 1, ../src/sass/components/_selectable.image-symbol.scss */
.list-item.image-symbol {
  font-size: 90%;
  line-height: 1.5rem;
  vertical-align: text-top;
  display: inline-block;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin: 0 0.25rem auto;
  cursor: pointer;
}

/* line 1, ../src/sass/components/_pager.folio.scss */
.pager.folio {
  display: inline-block;
}
/* line 3, ../src/sass/components/_pager.folio.scss */
.pager.folio .button {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 1px;
  vertical-align: baseline;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 2em;
}
/* line 12, ../src/sass/components/_pager.folio.scss */
.pager.folio .button:first-child {
  margin-left: 0;
}
/* line 16, ../src/sass/components/_pager.folio.scss */
.pager.folio .following-button {
  margin-left: 2em;
}
/* line 19, ../src/sass/components/_pager.folio.scss */
.pager.folio .preceding-button:before {
  content: '\e807';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  width: 1em;
  /* fix buttons height, for twitter bootstrap */
  margin-left: -0.1em;
  margin-right: .4em;
}
/* line 23, ../src/sass/components/_pager.folio.scss */
.pager.folio .following-button:after {
  content: '\e808';
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  width: 1em;
  /* fix buttons height, for twitter bootstrap */
  margin-right: -0.1em;
  margin-left: .4em;
}

/* line 2, ../src/sass/components/_carousel.scss */
.carousel .carousel-item {
  display: block;
  position: absolute;
  z-index: 1;
}
/* line 5, ../src/sass/components/_carousel.scss */
.carousel .carousel-item, .carousel .carousel-item * {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
/* line 9, ../src/sass/components/_carousel.scss */
.carousel .carousel-item.candidate {
  z-index: 2;
}
/* line 10, ../src/sass/components/_carousel.scss */
.carousel .carousel-item.selected {
  z-index: 3;
}
/* line 12, ../src/sass/components/_carousel.scss */
.carousel .carousel-item .content {
  cursor: pointer;
}
/* line 15, ../src/sass/components/_carousel.scss */
.carousel .carousel-item.selected .content {
  cursor: -webkit-grab;
  cursor: grab;
}
/* line 18, ../src/sass/components/_carousel.scss */
.carousel.panning .carousel-item .content {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* line 27, ../src/sass/components/_carousel.scss */
.carousel .carousel-item {
  -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
          transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.35s;
          transition: transform 0.35s;
}

/* line 43, ../src/sass/components/_carousel.scss */
.carousel-item.default-carousel-item .sizing {
  display: inline-block;
  box-sizing: border-box;
}

/* line 50, ../src/sass/components/_carousel.scss */
.carousel-item.image-item .sizing {
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
/* line 55, ../src/sass/components/_carousel.scss */
.carousel-item.image-item img {
  border: 0 none;
  background-color: #ecebea;
  box-shadow: 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  box-sizing: border-box;
}
/* line 63, ../src/sass/components/_carousel.scss */
.carousel-item.image-item img {
  -webkit-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease;
  opacity: 0;
}
/* line 67, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.idle img {
  visibility: hidden;
}
/* line 71, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.error img {
  visibility: hidden;
}
/* line 75, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.done.selected img {
  opacity: 1;
}
/* line 78, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.done.candidate img {
  opacity: 1;
}
/* line 81, ../src/sass/components/_carousel.scss */
.carousel-item.image-item .placeholder {
  border: 1px solid transparent;
  color: #ecebea;
}
/* line 86, ../src/sass/components/_carousel.scss */
.carousel-item.image-item .placeholder:after {
  font-size: 5rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  text-align: center;
  position: absolute;
  line-height: 1;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
  overflow: hidden;
  white-space: nowrap;
}
/* line 103, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.pending.selected .placeholder:after {
  content: "Loading";
}
/* line 106, ../src/sass/components/_carousel.scss */
.carousel-item.image-item.error .placeholder:after {
  content: "Error";
}

/* line 114, ../src/sass/components/_carousel.scss */
.carousel.image-carousel {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
/* line 117, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item {
  height: calc(100% - 3rem);
}
/* line 119, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item p {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 28px;
  font-weight: 300;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 30px;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 0;
}
/* line 124, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item p:first-child {
  margin-top: -5px;
}
/* line 128, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item .content {
  -webkit-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease;
  opacity: 0;
}
/* line 132, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item.selected .content {
  opacity: 1;
}
/* line 135, ../src/sass/components/_carousel.scss */
.carousel.image-carousel .empty-item.candidate .content {
  opacity: 1;
}
/* line 139, ../src/sass/components/_carousel.scss */
.carousel.image-carousel.panning .empty-item .content {
  opacity: 0.2;
}

/* line 145, ../src/sass/components/_carousel.scss */
.carousel.label-carousel {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 149, ../src/sass/components/_carousel.scss */
.carousel.label-carousel .carousel-item .content {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 24px;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: -1px;
  margin-right: -1px;
}
/* line 154, ../src/sass/components/_carousel.scss */
.carousel.label-carousel .carousel-item .content {
  -webkit-transition: opacity 0.35s ease;
          transition: opacity 0.35s ease;
  opacity: 0.2;
}
/* line 158, ../src/sass/components/_carousel.scss */
.carousel.label-carousel .carousel-item.selected .content {
  opacity: 1;
}
/* line 161, ../src/sass/components/_carousel.scss */
.carousel.label-carousel .carousel-item.candidate .content {
  opacity: 1;
}
/* line 165, ../src/sass/components/_carousel.scss */
.carousel.label-carousel .empty-item {
  height: 100%;
}

/* ---------------------- *
 * Vertical flow
 * ---------------------- */
/* line 10, ../src/sass/views/_layout.scss */
html, body {
  height: 100%;
}

/* line 13, ../src/sass/views/_layout.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -6rem;
}

/* line 20, ../src/sass/views/_layout.scss */
#footer {
  clear: both;
  position: relative;
  overflow: hidden;
}

/* line 25, ../src/sass/views/_layout.scss */
#container #container-footer, #footer {
  height: 6rem;
}

/* ---------------------- *
 * Wrapper
 * ---------------------- */
/* line 33, ../src/sass/views/_layout.scss */
#container {
  width: 100%;
  display: block;
  overflow: hidden;
  min-width: 700px;
}
@media only screen and (min-width: 1024px) {
  /* line 33, ../src/sass/views/_layout.scss */
  #container {
    min-width: 940px;
  }
}

/* line 48, ../src/sass/views/_layout.scss */
body.app-ready #container {
  -webkit-transition: visibility 0.35s 0.383s step-start, opacity 0.35s 0.383s ease;
          transition: visibility 0.35s 0.383s step-start, opacity 0.35s 0.383s ease;
  visibility: visible;
  opacity: 1;
}

/* line 55, ../src/sass/views/_layout.scss */
body.app-initial #container {
  visibility: hidden;
  opacity: 0;
}

/* ---------------------- *
 * Top-level horizontal flow
 * ---------------------- */
/* line 70, ../src/sass/views/_layout.scss */
#header,
#navigation,
#content-detail,
#container-footer,
#footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 60px;
  width: 700px;
}
@media only screen and (min-width: 1024px) {
  /* line 70, ../src/sass/views/_layout.scss */
  #header,
  #navigation,
  #content-detail,
  #container-footer,
  #footer {
    width: 940px;
  }
}

/* line 85, ../src/sass/views/_layout.scss */
#content {
  width: 100%;
}

/* ---------------------- *
 * Header
 * ---------------------- */
/* line 93, ../src/sass/views/_layout.scss */
#header {
  height: 3rem;
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}
/* line 97, ../src/sass/views/_layout.scss */
#header h3 {
  display: none;
}

/* ---------------------- *
 * Navigation
 * ---------------------- */
/* line 109, ../src/sass/views/_layout.scss */
#navigation {
  position: relative;
  padding-top: 0.75rem;
  min-height: 13rem;
}
@media only screen and (min-width: 1024px) {
  /* line 109, ../src/sass/views/_layout.scss */
  #navigation {
    min-height: 10rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 109, ../src/sass/views/_layout.scss */
  #navigation {
    min-height: 8.5rem;
  }
}
/* line 123, ../src/sass/views/_layout.scss */
#site-name, #bundle-list, #keyword-list {
  -webkit-transition: -webkit-transform 0.35s ease;
          transition: transform 0.35s ease;
}
/* line 127, ../src/sass/views/_layout.scss */
.bundle-list #site-name {
  -webkit-transition-delay: 0.766s;
          transition-delay: 0.766s;
}
/* line 128, ../src/sass/views/_layout.scss */
.bundle-list #bundle-list {
  -webkit-transition-delay: 0.383s;
          transition-delay: 0.383s;
}
/* line 129, ../src/sass/views/_layout.scss */
.bundle-list #keyword-list {
  -webkit-transition-delay: 0.383s;
          transition-delay: 0.383s;
}
/* line 132, ../src/sass/views/_layout.scss */
.bundle-item #site-name {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
/* line 133, ../src/sass/views/_layout.scss */
.bundle-item #bundle-list {
  -webkit-transition-delay: 0.383s;
          transition-delay: 0.383s;
}
/* line 135, ../src/sass/views/_layout.scss */
.bundle-item #keyword-list {
  -webkit-transition-delay: 0.383s;
          transition-delay: 0.383s;
}

/* line 139, ../src/sass/views/_layout.scss */
#nav-root {
  position: relative;
  height: 4.5rem;
}

/* line 144, ../src/sass/views/_layout.scss */
#bundle-list {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 2rem;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 20px;
  width: calc(60% - 60px);
}
/* line 149, ../src/sass/views/_layout.scss */
#bundle-list .list-item {
  width: 100%;
}
/* line 151, ../src/sass/views/_layout.scss */
#bundle-list .list-item .completed {
  display: none;
}
/* line 154, ../src/sass/views/_layout.scss */
#bundle-list .list-item .name {
  margin-left: -1px;
}
/* line 158, ../src/sass/views/_layout.scss */
#bundle-list .list-item a > em {
  font-style: normal;
  font-weight: 400;
}
/* line 163, ../src/sass/views/_layout.scss */
.bundle-list #bundle-list {
  -webkit-transform: translate3d(0, 0, 0.1px);
          transform: translate3d(0, 0, 0.1px);
}
/* line 166, ../src/sass/views/_layout.scss */
.bundle-item #bundle-list {
  -webkit-transform: translate3d(0, -4.5rem, 0.1px);
          transform: translate3d(0, -4.5rem, 0.1px);
}

/* line 171, ../src/sass/views/_layout.scss */
#keyword-list {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  position: absolute;
  width: 140px;
  -webkit-transform: translate3d(480px, 0, 0.1px);
          transform: translate3d(480px, 0, 0.1px);
}
/* line 178, ../src/sass/views/_layout.scss */
.bundle-list #keyword-list {
  -webkit-transform: translate3d(480px, 0, 0.1px);
          transform: translate3d(480px, 0, 0.1px);
}
@media only screen and (min-width: 1024px) {
  /* line 178, ../src/sass/views/_layout.scss */
  .bundle-list #keyword-list {
    width: 180px;
    -webkit-transform: translate3d(680px, 0, 0.1px);
            transform: translate3d(680px, 0, 0.1px);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 178, ../src/sass/views/_layout.scss */
  .bundle-list #keyword-list {
    width: 180px;
    -webkit-transform: translate3d(680px, 0, 0.1px);
            transform: translate3d(680px, 0, 0.1px);
  }
}
/* line 190, ../src/sass/views/_layout.scss */
.bundle-item #keyword-list {
  -webkit-transform: translate3d(480px, -4.5rem, 0.1px);
          transform: translate3d(480px, -4.5rem, 0.1px);
}
@media only screen and (min-width: 1024px) {
  /* line 190, ../src/sass/views/_layout.scss */
  .bundle-item #keyword-list {
    width: 180px;
    -webkit-transform: translate3d(680px, -4.5rem, 0.1px);
            transform: translate3d(680px, -4.5rem, 0.1px);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 190, ../src/sass/views/_layout.scss */
  .bundle-item #keyword-list {
    width: 180px;
    -webkit-transform: translate3d(0, 4rem, 0.1px);
            transform: translate3d(0, 4rem, 0.1px);
  }
}
/* line 202, ../src/sass/views/_layout.scss */
#keyword-list .list-item {
  white-space: nowrap;
  width: 100%;
}
/* line 205, ../src/sass/views/_layout.scss */
#keyword-list .list-item a {
  font-size: 13px;
}
/* line 210, ../src/sass/views/_layout.scss */
#keyword-list .list-group {
  display: block;
  height: 0;
  width: calc(100% - 40px);
}
/* line 216, ../src/sass/views/_layout.scss */
#keyword-list .list-group span {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 1px;
  vertical-align: baseline;
  text-transform: uppercase;
  display: block;
  height: 1.5rem;
  width: 100%;
  -webkit-transform: translate3d(-100%, 0, 0.1px);
          transform: translate3d(-100%, 0, 0.1px);
  -webkit-transition: -webkit-transform 0.35s ease;
          transition: transform 0.35s ease;
  -webkit-transition-delay: 0.383s;
          transition-delay: 0.383s;
}
/* line 226, ../src/sass/views/_layout.scss */
#keyword-list.skip-animation .list-group span {
  -webkit-transition: none;
          transition: none;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 232, ../src/sass/views/_layout.scss */
  .bundle-item #keyword-list .list-group {
    height: 2rem;
  }
  /* line 234, ../src/sass/views/_layout.scss */
  .bundle-item #keyword-list .list-group span {
    -webkit-transform: translate3d(-0.1px, 0.5rem, 0.1px);
            transform: translate3d(-0.1px, 0.5rem, 0.1px);
    -webkit-transition-delay: 0.383s;
            transition-delay: 0.383s;
  }
}

/* line 243, ../src/sass/views/_layout.scss */
#site-name {
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 2rem;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e63b19;
  position: relative;
  display: inline-block;
  padding-right: 20px;
}
/* line 250, ../src/sass/views/_layout.scss */
.bundle-list #site-name {
  -webkit-transform: translate3d(-1px, 0, 0.1px);
          transform: translate3d(-1px, 0, 0.1px);
}
/* line 253, ../src/sass/views/_layout.scss */
.bundle-item #site-name {
  -webkit-transform: translate3d(calc(-100% - 20px), 0, 0.1px);
          transform: translate3d(calc(-100% - 20px), 0, 0.1px);
}

/* line 258, ../src/sass/views/_layout.scss */
#site-name, #bundle-list {
  min-height: 2rem;
  line-height: 2rem;
  padding-top: 2px;
}

/* line 264, ../src/sass/views/_layout.scss */
#bundle-pager {
  position: absolute;
  display: inline-block;
  width: 100%;
  top: -1.5rem;
}
/* line 269, ../src/sass/views/_layout.scss */
#bundle-pager .button {
  position: absolute;
  margin-left: 0 !important;
  min-width: 140px;
}
/* line 274, ../src/sass/views/_layout.scss */
#bundle-pager .following-button {
  left: 480px;
}
@media only screen and (min-width: 1024px) {
  /* line 274, ../src/sass/views/_layout.scss */
  #bundle-pager .following-button {
    left: 680px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 274, ../src/sass/views/_layout.scss */
  #bundle-pager .following-button {
    left: 240px;
  }
}

/* ---------------------- *
 * Content
 * ---------------------- */
/* line 289, ../src/sass/views/_layout.scss */
#content {
  position: relative;
}

/* ---------------------- *
 * Carousel
 * ---------------------- */
/* carousel layout */
/* line 298, ../src/sass/views/_layout.scss */
.carousel {
  overflow: hidden;
  position: relative;
  box-sizing: content-box;
  width: 100%;
  min-width: 700px;
}
/* line 304, ../src/sass/views/_layout.scss */
.carousel .carousel-item {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 60px;
  width: 700px;
  left: calc(50% - 350px);
}
/* line 311, ../src/sass/views/_layout.scss */
.carousel .empty-item {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  width: 475px;
}

@media only screen and (min-width: 1024px) {
  /* line 320, ../src/sass/views/_layout.scss */
  .carousel {
    min-width: 940px;
  }
  /* line 322, ../src/sass/views/_layout.scss */
  .carousel .carousel-item {
    left: calc(50% - 470px);
    padding-left: 20px;
    padding-right: 280px;
    width: 940px;
  }
  /* line 328, ../src/sass/views/_layout.scss */
  .carousel .empty-item {
    padding-right: 20px;
    width: 675px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 336, ../src/sass/views/_layout.scss */
  .carousel .empty-item {
    width: 940px;
    padding-right: 20px;
  }

  /* line 342, ../src/sass/views/_layout.scss */
  .carousel .carousel-item {
    padding-left: 260px;
    padding-right: 20px;
  }
}
/* line 349, ../src/sass/views/_layout.scss */
.label-carousel {
  position: absolute;
  top: -1.5rem;
}

/* ---------------------- *
 * Other content views
 * ---------------------- */
/* line 358, ../src/sass/views/_layout.scss */
#content-detail {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  bottom: 1.5rem;
}

/* line 364, ../src/sass/views/_layout.scss */
.images-pager {
  position: absolute;
  top: -3rem;
  height: 1.5rem;
}

/* line 369, ../src/sass/views/_layout.scss */
.image-detail {
  position: absolute;
  display: block;
  -webkit-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
  top: -8.75rem;
  width: calc(60% - 60px);
}
@media only screen and (min-width: 1024px) {
  /* line 369, ../src/sass/views/_layout.scss */
  .image-detail {
    top: 0;
    right: 60px;
    width: 180px;
  }
}
/* line 382, ../src/sass/views/_layout.scss */
.image-detail p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  -webkit-font-kerning: normal;
     -moz-font-kerning: normal;
          font-kerning: normal;
  line-height: 28px;
  letter-spacing: -1px;
  -webkit-text-rendering: optimizelegibility;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media only screen and (min-width: 1024px) {
  /* line 382, ../src/sass/views/_layout.scss */
  .image-detail p {
    font-family: "Franklin Gothic FS", "Lucida Grande", "Lucida Sans", Calibri, Tahoma, Verdana, Kalimati, sans-serif;
    font-size: 20px;
    font-weight: 300;
    -webkit-font-kerning: normal;
       -moz-font-kerning: normal;
            font-kerning: normal;
    line-height: 24px;
    letter-spacing: -1px;
    -webkit-text-rendering: optimizelegibility;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* ---------------------- *
 * Footer
 * ---------------------- */
/* line 6, ../src/sass/views/_footer.scss */
#footer .copyright {
  display: none;
}

/**
 * Debug colors
 * @see http://dev.w3.org/csswg/css-color/#named-colors
 * ultralight colors: lavender,seashell,aliceblue,ghostwhite
 */
/* lightblue: 		hsl(195, 53%, 79%) */
/* deepbluesky: 	hsl(195, 100%, 50%) */
/* lightcoral: 		hsl(6, 93%, 71%) */
/* salmon: 			hsl(6, 93%, 71%) */
/* thistle: 		hsl(300, 24%, 80%) */
/* darkseagreen:	hsl(120, 25%, 65%) */
/* darkolivegreen:	hsl(???) */
/* line 22, ../src/sass/_debug.scss */
.debug-grid {
  background-image: url('/workspace/assets/images/debug-background.svg?1420823550');
  background-repeat: no-repeat;
  background-position: calc(50% + 130px) 1rem;
}
@media only screen and (min-width: 1024px) {
  /* line 22, ../src/sass/_debug.scss */
  .debug-grid {
    background-position: calc(50% + 10px) 1rem;
  }
}

/* line 34, ../src/sass/_debug.scss */
.debug-blocks * {
  outline-offset: -1px;
}
/* line 35, ../src/sass/_debug.scss */
.debug-blocks #header, .debug-blocks #footer,
.debug-blocks #container-footer {
  outline: 1px dashed darkseagreen;
}
/* line 40, ../src/sass/_debug.scss */
.debug-blocks #header, .debug-blocks #footer {
  background-color: rgba(143, 188, 143, 0.2);
}
/* line 44, ../src/sass/_debug.scss */
.debug-blocks #navigation {
  background-color: rgba(250, 126, 112, 0.2);
  outline: 1px dashed #fa7e70;
}
/* line 49, ../src/sass/_debug.scss */
.debug-blocks #bundle-pager > .button {
  outline: 1px dashed darkseagreen;
  background-color: rgba(143, 188, 143, 0.3);
}
/* line 54, ../src/sass/_debug.scss */
.debug-blocks #nav-root, .debug-blocks .selectable {
  outline: 1px dashed #fa7e70;
  background-color: rgba(250, 126, 112, 0.2);
}
/* line 58, ../src/sass/_debug.scss */
.debug-blocks #site-name, .debug-blocks .list-item, .debug-blocks .list-group {
  background-color: rgba(250, 126, 112, 0.2);
}
/* line 60, ../src/sass/_debug.scss */
.debug-blocks #site-name > *, .debug-blocks .list-item > *, .debug-blocks .list-group > * {
  outline: 1px dashed #fa7e70;
  background-color: rgba(250, 126, 112, 0.2);
}
/* line 66, ../src/sass/_debug.scss */
.debug-blocks #content {
  outline: 1px dashed darkseagreen;
}
/* line 68, ../src/sass/_debug.scss */
.debug-blocks #content #content-detail {
  background-color: rgba(32, 175, 223, 0.2);
}
/* line 74, ../src/sass/_debug.scss */
.debug-blocks #content .carousel .image-item {
  background-color: rgba(0, 191, 255, 0.2);
}
/* line 77, ../src/sass/_debug.scss */
.debug-blocks #content .carousel .carousel-item {
  outline: 1px dashed deepskyblue;
}
/* line 79, ../src/sass/_debug.scss */
.debug-blocks #content .carousel .carousel-item .content {
  background-color: rgba(0, 191, 255, 0.2);
}
/* line 84, ../src/sass/_debug.scss */
.debug-blocks #content .item-detail {
  outline: 1px dashed deepskyblue;
}
/* line 86, ../src/sass/_debug.scss */
.debug-blocks #content .item-detail .content {
  background-color: rgba(32, 175, 223, 0.3);
}

/* line 99, ../src/sass/_debug.scss */
.toolbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
/* line 102, ../src/sass/_debug.scss */
.toolbar > * {
  -webkit-flex: 0 1 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto 0;
  padding: 0 0.75em;
  border-color: inherit;
  border-left-style: solid;
  border-left-width: thin;
}
/* line 117, ../src/sass/_debug.scss */
.toolbar > *:first-child {
  border-left: 0 none;
}

/* line 126, ../src/sass/_debug.scss */
#debug-toolbar {
  z-index: 999;
  color: #646468;
  background-color: #0d0d0c;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  padding: 0.5em 0;
}
/* line 130, ../src/sass/_debug.scss */
#debug-toolbar, #debug-toolbar * {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}
/* line 137, ../src/sass/_debug.scss */
#debug-toolbar dt, #debug-toolbar dd {
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 1px;
  vertical-align: baseline;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1em;
  height: 1em;
}

/*# sourceMappingURL=folio.css.map */