@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('../fonts/FranklinGothic-Book-webfont.eot?1445617780');
  src: url('../fonts/FranklinGothic-Book-webfont.eot?&1445617780#iefix') format("embedded-opentype"), url('../fonts/FranklinGothic-Book-webfont.woff2?1445617780') format("woff2"), url('../fonts/FranklinGothic-Book-webfont.woff?1445617780') format("woff"), url('../fonts/FranklinGothic-Book-webfont.ttf?1445617780') format("truetype"), url('../fonts/FranklinGothic-Book-webfont.svg?1445617780#franklin_gothic_fsbook') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?1445617780');
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?&1445617780#iefix') format("embedded-opentype"), url('../fonts/FranklinGothic-BookIt-webfont.woff2?1445617780') format("woff2"), url('../fonts/FranklinGothic-BookIt-webfont.woff?1445617780') format("woff"), url('../fonts/FranklinGothic-BookIt-webfont.ttf?1445617780') format("truetype"), url('../fonts/FranklinGothic-BookIt-webfont.svg?1445617780#franklin_gothic_fsbook_italic') format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('../fonts/FranklinGothic-Demi-webfont.eot?1445617780');
  src: url('../fonts/FranklinGothic-Demi-webfont.eot?&1445617780#iefix') format("embedded-opentype"), url('../fonts/FranklinGothic-Demi-webfont.woff2?1445617780') format("woff2"), url('../fonts/FranklinGothic-Demi-webfont.woff?1445617780') format("woff"), url('../fonts/FranklinGothic-Demi-webfont.ttf?1445617780') format("truetype"), url('../fonts/FranklinGothic-Demi-webfont.svg?1445617780#franklin_gothic_fsdemi') format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Franklin Gothic FS';
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot?1445617780');
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot?&1445617780#iefix') format("embedded-opentype"), url('../fonts/FranklinGothic-DemiIt-webfont.woff2?1445617780') format("woff2"), url('../fonts/FranklinGothic-DemiIt-webfont.woff?1445617780') format("woff"), url('../fonts/FranklinGothic-DemiIt-webfont.ttf?1445617780') format("truetype"), url('../fonts/FranklinGothic-DemiIt-webfont.svg?1445617780#franklin_gothic_fsdemi_italic') format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FolioFigures";
  src: url('../fonts/FolioFigures-Regular.eot?1526394393');
  src: url('../fonts/FolioFigures-Regular.eot?&1526394393#iefix') format("embedded-opentype"), url('../fonts/FolioFigures-Regular.woff2?1526394393') format("woff2"), url('../fonts/FolioFigures-Regular.woff?1526394393') format("woff"), url('../fonts/FolioFigures-Regular.ttf?1526394393') format("ttf"), url('../fonts/FolioFigures-Regular.svg?1526394393#FolioFigures') format("svg");
  font-style: normal;
  font-weight: 400;
}
