
.icon-spinner:before { content: '\e800'; } /* '' */
.icon-dot-regular-filled:before { content: '\e801'; } /* '' */
.icon-dot-regular-empty:before { content: '\e802'; } /* '' */
.icon-dot-regular-thin:before { content: '\e803'; } /* '' */
.icon-dot-regular-circled:before { content: '\e804'; } /* '' */
.icon-dot-small-empty:before { content: '\e805'; } /* '' */
.icon-dot-small-filled:before { content: '\e806'; } /* '' */
.icon-arrow-small-left:before { content: '\e807'; } /* '' */
.icon-arrow-small-right:before { content: '\e808'; } /* '' */
.icon-arrow-small-up:before { content: '\e809'; } /* '' */
.icon-arrow-small-down:before { content: '\e80a'; } /* '' */
.icon-playback-to-end:before { content: '\e80b'; } /* '' */
.icon-playback-to-start:before { content: '\e80c'; } /* '' */
.icon-playback-play:before { content: '\e80d'; } /* '' */
.icon-playback-stop:before { content: '\e80e'; } /* '' */
.icon-playback-pause:before { content: '\e80f'; } /* '' */
.icon-symbol-cancel-circled:before { content: '\e810'; } /* '' */
.icon-symbol-info:before { content: '\e811'; } /* '' */
.icon-symbol-info-circled:before { content: '\e812'; } /* '' */
.icon-symbol-paragraph:before { content: '\e814'; } /* '' */